<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <title>Chart.js Example</title>
    <!-- import plugin script -->
    <script src='static/Chart.min.js'>
    </script>
      <style>
   ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    margin-bottom: 5px; /* Отступ вниз */
    margin-top: 5px; /* Отступ вниз */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   }
  </style>
  </head>
  <body>
  <form action=http://192.168.70.127:5000/graphics1 method="post">
      <p>{{ Error }}</p>
      <p>Расчет нагрузки</p>
      <ul class="hr">
          <li><input name="start_intense" placeholder="реестров в час, стартовая интенсивность" maxlength="10" size="30" value=""></li>
          <li><input name="final_intense" placeholder="реестров в час, финишная интенсивность" maxlength="10" size="30" value=""></li>
          <li><input name="step_length" placeholder="минут, длительность полки" maxlength="10" size="30" value=""></li>
          <li><input name="interval" placeholder="минут, частота отправки файлов" maxlength="10" size="30" value=""></li>
          <li><input name="duration" placeholder="минут, длительность теста" maxlength="10" size="30" value=""></li>
          <li><input name="step_length1" placeholder="interval = 5 :раз в 5 минут" maxlength="15" size="30" value=""></li>
      </ul>
      <p> Вставьте данные теста</p>
      <p><textarea name="ValuesTest" placeholder="Данные из LR" rows="20" cols="40"></textarea></p>
      <p><input type="submit" value="Построить График"></p>
  </form>


  <form action=http://192.168.70.127:5000 method="get">
    <input type="submit" value="Главная">
  </form>
  </body>
</html>
